
body { 
    font-family: "arial";
    margin: 0;
    padding: 0;
    
}
.barrasuperior {
    position: fixed;top: 0%;width: 100%;
    margin: auto;         /* aixo centra horitzontalment */
    background: rgb(255, 108, 169);
    padding: 20px;
    
}

.titulobarrasuperior { 
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
    margin-top: 1em;
}
.titulobarrasuperior > h1 { 
    box-sizing: border-box;
    margin: 0;
}
.barrasuperior .menu{
  list-style: none;
  display: flex;
  gap: 18px;
  padding: 0;
  margin: 0;
}