body {
  font-family: sys, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
  color: #ffffff;
  margin: 0;
  padding: 0;
  padding-top: 130px; /* Para que el contenido no quede debajo de la barra */
}

.barrasuperior {
  position: fixed;
  top: 0;
  width: 100%;
  background: rgb(196, 211, 255);
  padding: 20px;
  display: flex;
  flex-direction: column; /* Elementos en vertical: logo-titulo arriba, menú abajo */
  align-items: center;
  z-index: 999;
}

.logo-titulo {
  display: flex;
  align-items: center;
  gap: 10px; /* Para poner el espacio de la imagen y texto */
}

.imagenLogo {
  height: 110px;
  width: auto;
}

.titulo {
  margin: 0;
  font-size: 1.8em;
  color: white;
}

.barrasuperior .menu {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
}

.barrasuperior .menu a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: transform 0.2s ease, color 0.2s ease;
}

.barrasuperior .menu a:hover {
  color: #fff;
}


.PiedePagina {
  margin: auto;
  background-color: rgb(196, 211, 255);
  color: white;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items:center;
  flex-direction: column;
}
.PiedePagina .links{
   list-style: none;
  display: flex;
  gap: 5px;
  padding: 0;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
  font-size: medium;
  text-decoration: underline;
  display: flex;
  
}
.PiedePagina .links a{
    color: white;
  text-decoration: none;
  font-weight: bold;
  transition: transform 0.2s ease, color 0.2s ease;
  
}
.insta{
   height: 30px;
  width: auto;
}
.twitter{
  height: 40px;
  width: auto;
}
.tiktok{
  height: 35px;
  width: auto;
}

.contenidorCentral{
  max-width: 1100px;
  margin: auto;
  background-color: rgb(255, 255, 255);
  font-family: sys, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
  color: rgb(159, 144, 214);
  padding-top: 10px;
  align-items: center; 
  display: flex;
  flex-direction: column;
  
  
  
}
.contenidorCentral .contenedor{
  max-width: 1100px;
  margin: auto;
  background-color: rgb(196, 211, 255);
  display: inline-block;
  
}
.contenidorCentral .logo-titulo {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  font-size:large 
}

.imagenLogo {
  height: 110px;
  width: auto;
  align-items: center;
}

.colleccions{
   display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 20px;
  max-width: 1100px;
  margin: auto;
  text-align: center;
}
.carta{
  flex: 1; /* hace que todas las cartas ocupen el mismo ancho */
  background-color: #ede9f8;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 2px 6px rgba(230, 90, 183, 0.1);
}
.carta h3{
  margin-top: 0;
  color: #d685e0;
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.carta p{
  color: #805f85;
  
}
.etiqueta{
  display: inline-block;
  background-color: rgb(196, 211, 255);
  padding: 4px 8px;
  border-radius: 5px;
  font-size: 12px;
  margin-top: 10px;
  color: #333;
  text-align: center;
}
.imagen_etiqueta{
  padding: 15px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.barra-informativa {
  display: flex;
  justify-content: center; /* centra el contenido en horizontal */
  align-items: center;      /* centra verticalmente si hay más altura */
  background-color: rgb(196, 211, 255); /* color lila claro */
  padding: 20px;
  font-weight: bold;
  font-family: 'Segoe UI', sans-serif;
  font-size: 16px;
  gap: 20px; /* espacio entre los elementos */
}
.separador {
  width: 60px;
  
}

.separador_blanco {
  top: 0;
  width: 100%;
  background: rgb(255, 255, 255);
  padding: 20px;
  display: flex;
  flex-direction: column; /* Elementos en vertical: logo-titulo arriba, menú abajo */
  align-items: center;
  z-index: 999;
}