/* =====Barra menú superior ===== */
.autocenterContainer {
    max-width: 800px;     /* amplada màxima */
    margin: auto;         /* centra horitzontalment */
    background: rgb(247, 91, 125);
    padding: 20px;
}
.titleContainer { 
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
    margin-top: 1em;
}
.titleContainer > h1 { 
    box-sizing: border-box;
    margin: 0;
}
.titleContainer > h2 { 
    box-sizing: border-box;
    font-weight: 100;
    margin: 0;
}