body {
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
  color: #ffffff;
  margin: 0;
  padding: 0;
  padding-top: 130px; /* Para que el contenido no quede debajo de la barra */
}

.barrasuperior {
  position: fixed;
  top: 0;
  width: 100%;
  background: rgb(196, 211, 255);
  padding: 20px;
  display: flex;
  flex-direction: column; /* Elementos en vertical: logo-titulo arriba, menú abajo */
  align-items: center;
  z-index: 999;
}

.logo-titulo {
  display: flex;
  align-items: center;
  gap: 10px; /* Para poner el espacio de la imagen y texto */
}

.imagenLogo {
  height: 70px;
  width: auto;
}

.titulo {
  margin: 0;
  font-size: 1.8em;
  color: white;
}

.barrasuperior .menu {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
}

.barrasuperior .menu a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: transform 0.2s ease, color 0.2s ease;
}

.barrasuperior .menu a:hover {
  color: #fff;
  transform: translateY(-1px);
}

